<div class="col-xs-12">
  <h2>Posts</h2>
  <p>Mise à jour: {{ lastUpdate | async | date:"short"}}</p>
  <ul class="list-group"> 
    <app-post-list-item  *ngFor="let annonce of posts; let i = index" 
    [indexOfannonce]= "i"
                   [title]="annonce.title"
                   [content]="annonce.content"
                   [loveIts]="annonce.loveIts"
                   [created_at]="annonce.created_at"
                   [postStatus]="annonce.postStatus"
                   [id]="annonce.id"></app-post-list-item>
  </ul>

  <br><br>
  <!-- les boutons pour changer la couleur de touut les posts -->
  <button class="btn btn-success"
          (click)="loveIt()">Love all</button>

  <button class="btn btn-danger"(click)="dontLoveIt()">Don't love all</button>
</div>