<h2>{{ title }}</h2>

<p> Le contenu : {{ content }}</p>
<p> love it : {{ loveIts }}</p>
<p> Statut: {{ created_at}}</p>
<p> Statut: {{ postStatus }}</p>


<a routerLink="/posts">Retourn à la liste</a>
  