
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li routerLinkActive="active" class="nav-item active">
        <a class="nav-link" routerLink="auth">Se connecter</a>
      </li>
      <li routerLinkActive="active" class="nav-item active">
        <a class="nav-link" routerLink="posts">Posts</a>
      </li> 
    </ul>  
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>




