
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success':postStatus === 'allumé',
                'list-group-item-danger': postStatus === 'éteint'}">

  <h4 [ngStyle]="{color: getColor()}">{{ title}} -- Statut {{ getStatus() }}
    <br>{{created_at}}
    <br>{{content}} --{{loveIts}}
    <br>{{postStatus}} </h4>

    <a [routerLink]="[id]">Plus de detail</a>
    
  <!-- boutons pour chanfer la couleur de chaque post -->
    <button class="btn btn-success"(click)="onSwitchOn()"[disabled]="postStatus === 'allumé'">Love it</button>
    <button class="btn btn-danger"(click)="onSwitchOff()"[disabled]="postStatus === 'éteint'">Don't love it</button>

  <!-- <input type="text" class="form-control" [(ngModel)]="title"> -->
</li>