/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    padding: 20px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

